<footer>
  <div class="row" align-items="center">
  <div class="col-lg-4 col-xs-4 col-sm-4 col-md-4" align-items="center">
      <b><p>Publicidad </p></b>
  </div>
  <div class="col-lg-4 col-xs-4 col-sm-4 col-md-4" align-items="center" >
    <img class="pie" src="/images/imagen3.png">
     <b> <p>Publicamos Tu Negocio </p></b>
  </div>
  <div class="col-lg-4" >
      <b><p>Derechos Reservados 2020</p></b>
  </div>
</div>  
</footer>
